body{
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/page1.png');
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introload 2s forwards;
    //overflow: hidden;
}
.logo{
    color: #39859F;
    font-weight: bold;
    
}


nav{
    
    position: fixed;
    right: 0;
    top:0;
    height: 100vh;
    background:#d3e5eb ;
    width: 50%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul{
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color:#00202e;
            padding: .75em 2em;
            display: block;
            width: 100%;
            &:hover{
                background: #c0d3d8;
            }
        }


    }
    .close{
        float: right;
        margin: 2em;
        width: 2em;

        stroke: #00202e;
        path{
            fill: #00202e;
        }
    }


}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

    svg{
        stroke: #39859F;
        path{
            fill: #39859F;
        }
        width: 2.3em;
        margin-top: -.6em;
        cursor: pointer;
    }

}
h1.hero{

    text-justify: inter-word;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 1em;
    line-height: 3.7rem;
}
.subhead{
    margin-top: 0.5em;
    text-justify: inter-word;
    text-align: center;
    font-size: 1.4rem;

}

section.hero{
    color: #000000;
    height: 90vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    .down-arrow{
        float: right;
        margin: 2em;
        stroke: #000000;
        position: absolute;
        bottom: 2em;
        width: 1em;
        animation: moveArrow 1s alternate-reverse infinite;
        path{
            fill:#000000;
        }

    }
    
}
.popular-destinations{
    .text-description{
        line-height: 2em;
        margin-bottom: 5em;


    }
    img{
        border-radius: 1em;
        width: 16em;
        object-fit: cover;
        height: 16em;
        margin: 1em;
        

    }
    .row {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px 0;
    }
      
    .column {

        justify-content: center;
        width: 18em;
        border: 0.3px solid #F4F4F4;
        border-radius: 1em;
        background-color: rgb(255, 255, 255);
        transition: .4s;
        padding: 5px;

        
        &:hover{
            box-shadow: 0 12px 16px rgba(216, 220, 240, 0.923);
        }
        
    }
    
    .title{
        margin-top: 3em;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }
    .nums{
        margin-left: 1em;
        display: flex;
    }
    
    .popular{
        font-size: 400;
        font-style: italic;
    }
    p.desc{
        font-size: larger;
        text-align: center;
        margin-top: 2em;
    }
    .dest-names{
        font-weight: 400;

        margin-top: 0;
        margin-left: 1em;
    }

   
    .line{
        vertical-align: middle;
        display: inline-block;    }
    
   
    .numbers{
        font-size: 1.5rem;
        margin: 0%;
        text-align: left;
    }

}
.open-nav {
    transform: translateX(0%);

}

@media only screen and(min-width: 680px)
{
    body{
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
    }
}
@media only screen and(min-width: 920px)
{
    .menu 
    {
        display: none;
    }
    nav{
        transform: translateX(0);
        z-index: 11;
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close{
            display: none;
        }
        ul{
            display: flex;
            margin: 0;
            a{
                color:#1E4353;
                padding: .5em 1.5em ;
                font-size: .9rem;

                &:hover{
                    background: none;
                    text-decoration: underline;
                    color: #000000;
                }

            }
        }

    }
        
  
    .signup{
        button{
            color: aliceblue;
            font-weight: bolder;
            text-transform: uppercase;
            display: flex;
            padding: 9px 25px;
            background-color: rgba(0, 136, 169, 1);
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            &:hover{
                background:rgb(0, 76, 95);
                color:rgb(255, 255, 255);
                transition: .3s linear;
            }
            
        }

    }
   
    .logo{
        cursor: pointer;
    }
    section.hero{

        svg.down-arrow{

            stroke: #1E4353;
            position: unset;

            path{
                fill:rgb(30, 67, 83);


            }

           

        }
    }
    .choose_bx{
        margin-top: 12em;
        margin-left: 7em;
    
        height: 2px;

        .stay_bx{
            margin-top: 15em;
            margin-left: 6em;
            display: flex;
            align-items: center;
            
            button{
                padding: 9px 25px;
                height: 6vh;
    
                color:white;
                display: flex;
                align-items: center;
    
              
                background-color:black;
                border: none;
                outline: none;
                font-family:"Poppins", sans-serif;
                
                cursor: pointer;
                transition: .3s linear;
                &:hover{
                    background:#ffffff;
                    color:#000000;
                }
                &:nth-child(1){
                    border-radius: 10px 0px 0px 0px;
                    background:#ffffff;
                    color: #000000;
    
    
                }
                &:nth-last-child(1){
                    border-radius: 0px 10px 0px 0px;
                
                }
                i{
                    margin-right: 5px;
                }
            }
           
        }
        .container{
            width: 70%;
            height: 120px;
            background:#ffffff;
            border-radius:  0px 10px 10px 10px;
            position: relative;
            padding: 7px 20px;
            box-shadow: 0px 5px 15px -10px  rgb(155, 152, 152);
            z-index: 2;
            margin-left: 6em;
           
            .row{
                display: flex;
               
            }
            .col{
                padding: 2px;
                margin-top:1.5em;
                button{
                    margin-right: 1em;
                    margin-top: 1.5em;
                    color: rgb(255, 255, 255);
                    font-weight: bolder;
                    text-transform: uppercase;
                    display: flex;
                    padding: 9px 25px;
                    background-color: rgba(0, 136, 169, 1);
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    transition: all 0.3s ease 0s;
                    &:hover{
                        background:rgb(0, 76, 95);;
                        color:rgb(255, 255, 255);
                        transition: .3s linear;
                    }
                    
                }
                input{
                    height: 4vh;
                    border: none;
                    font-size: 17px;
                    border-radius: 7px;
                    border-color: #cbc6c6;
                    background-color: #f9f6f6;
                    font-family: 'Poppins', sans-serif;
                }
                
                
               

               
            }
         
           
         
        }
      
     
    }

    .swiper-wrapper{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px 0;
        article{
            justify-content: center;
            width: 17em;
            border: 0.3px solid #F4F4F4;
            border-radius: 1em;
            background-color: rgb(255, 255, 255);
            padding: .75rem .75rem .2rem;
            transition: .4s;
            padding: 5px;
    
            
            &:hover{
                box-shadow: 0 12px 16px rgba(216, 220, 240, 0.923);
            }
        
        }
   
    }
    //swiper class
   
    .swiper-custom-nav{
        margin: 1em;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        z-index: 10;
        width: 98%;
        display: flex;
        justify-content: space-between;

        svg{
            cursor: pointer;
            opacity: .6s;
            transition: all .3s ease-in-out;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    .swiper-custom-pagination{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        gap: 1rem;
        font-family: 'Poppins',sans-serif;
        font-size: 17px;
        line-height: 29px;
        font-weight: 500;
        color: #000000;
        .swiper-pagination-bullet{
            width: auto;
            height: auto;
            border-radius: 0;
            background-color: transparent;
            opacity: 1;
            text-align: center;
        }
        .number{
            opacity: .3;
            transition: all .3s ease-in-out;

        }
        .swiper-pagination-bullet-active .number{
            width: 2rem;
            opacity: 1;
        }
        .line{
            opacity: .3;
            height: .25rem;
            width: .75rem;
            background-color: #000000;
            display: block;
            border-radius: 4px;
            transition: all .3s ease-in-out;
        }
        .swiper-pagination-bullet-active .line{
            width: 2rem;
            opacity: 1;
        }
    }
    .swiper-button-next::after{
        content: "";
    }
    .swiper-button-prev::after{
        content: "";
    }
   
    .swiper-button-prev{
        left: calc(50% - 3rem);
    }
    .swiper-button-next{
        right: calc(50% - 3rem);
    }
   
  
    .description{
        line-height: 1em;
        margin-bottom: 5em;

        
        h1.section__title{
            margin-top: 3em;
            font-size: 3rem;
            padding-top: 1em;
            padding-bottom: 0.5em;
            text-align: center;
    
    
            span.popular{
                font-style: italic;
            }
        }
        .desc{
            
            text-align: center;
            font-size: 19px;
            font-family: 'Poppins', sans-serif;
           
        }
       

    }
    
    .popular__img{
        width: 13em;
        object-fit: cover;
        height: 16em;
        margin: 1em;
        border-radius: 1em;

    }
    .popular__data{
        padding: 0 .25rem 0 .75rem;
    }
    .popular__price{
        font-size: larger;
        color: black;
        margin-bottom: .25rem;
    }
    .popular__price span{
        color:#56AAB7;
    }
    .popular__title{
        font-size: smaller;
        margin-bottom: .75rem;
    }
    .popular__description{
        color: #1a6671;
    }
    
   
}
@keyframes introload {

    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@keyframes moveArrow {

    from {
        transform: translateY(-30px);

    }
    to{
        transform: translateY(0);

    }
}
@keyframes moveDown {

    from {
        transform: translateY(-100px);

    }
    to{
        transform: translateY(0);
        opacity: 1;

    }
}


