body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

button {
  display: none;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/page1.png");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.logo {
  color: #39859F;
  font-weight: bold;
}

.logo::first-letter {
  font-style: italic;
  font-weight: 400;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40%;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 400;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: #1E4353;
  padding: 0.75em 2em;
  display: block;
  width: 100%;
}
nav ul a:hover {
  background: hsl(198deg, 33%, 71%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
header svg {
  stroke: #39859F;
  width: 3em;
  margin-top: -0.6em;
  cursor: pointer;
}
header svg path {
  fill: #39859F;
}

h1.hero {
  text-justify: inter-word;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 1em;
  line-height: 4rem;
}

.subhead {
  margin-top: 1em;
  text-justify: inter-word;
  text-align: center;
  font-size: 1.5rem;
}

div.textlogo::first-letter {
  font-weight: 400;
  font-style: italic;
}

section.hero {
  color: #1E4353;
  height: 90vh;
}
section.hero .down-arrow {
  stroke: #1E4353;
  position: absolute;
  bottom: 2em;
  width: 1em;
}
section.hero .down-arrow path {
  fill: #1E4353;
}

.popular-destinations img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20em;
  width: 20em;
}
.popular-destinations .row {
  display: flex;
}
.popular-destinations .column {
  flex: 25%;
  padding: 5px;
}
.popular-destinations .popular {
  font-weight: 400;
  font-style: italic;
}
.popular-destinations .title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.popular-destinations .zeros {
  font-weight: 400;
  font-style: italic;
}
.popular-destinations p.desc {
  font-size: larger;
  text-align: center;
  margin-top: 2em;
}
.popular-destinations .dest-names {
  margin-top: 0.7%;
}
.popular-destinations .dest-names::first-letter {
  font-weight: 400;
  font-style: italic;
}
.popular-destinations .line {
  vertical-align: middle;
  display: inline-block;
}
.popular-destinations .cities {
  font-weight: 400;
  font-style: italic;
}
.popular-destinations .numbers {
  font-size: 2rem;
  margin: 0%;
  text-align: left;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background-color: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
    padding: 0px 10px;
  }
  nav ul a {
    transition: all 0.3s ease 0s;
    color: #1E4353;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    color: #b6d7e2;
    background: none;
    text-decoration: underline;
  }
  .login {
    color: #39859F;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
    text-transform: uppercase;
  }
  .login:hover {
    color: #b6d7e2;
    background: none;
    text-decoration: underline;
  }
  button {
    color: aliceblue;
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    padding: 9px 25px;
    background-color: rgb(0, 136, 169);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  buttonhover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  .logo {
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */