.popular-destinations{
    img{
        width: 100%;
        object-fit: cover;
        height: 20em;
        width: 20em;

    }
    .row {
        display: flex;
      }
      
    .column {
        flex: 25%;
        padding: 5px;
    }
    .popular{
        font-weight: 400;
        font-style: italic;
    }
    .title{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }
    .zeros{
        font-weight: 400;
        font-style: italic;
    }
    p.desc{
        font-size: larger;
        text-align: center;
        margin-top: 2em;
    }
    .dest-names{
        margin-top: 0.7%;
    }

    .dest-names::first-letter{
        font-weight: 400;
        font-style: italic;

    }
    
    .line{
        vertical-align: middle;
        display: inline-block;    }
    .cities{
        font-weight: 400;
        font-style: italic;
    }
   
    .numbers{
        font-size: 2rem;
        margin: 0%;
        text-align: left;
    }

}