body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/page1.png");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -webkit-animation: introload 2s forwards;
          animation: introload 2s forwards;
}

.logo {
  color: #39859F;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #d3e5eb;
  width: 50%;
  z-index: 2;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: #00202e;
  padding: 0.75em 2em;
  display: block;
  width: 100%;
}
nav ul a:hover {
  background: #c0d3d8;
}
nav .close {
  float: right;
  margin: 2em;
  width: 2em;
  stroke: #00202e;
}
nav .close path {
  fill: #00202e;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
header svg {
  stroke: #39859F;
  width: 2.3em;
  margin-top: -0.6em;
  cursor: pointer;
}
header svg path {
  fill: #39859F;
}

h1.hero {
  text-justify: inter-word;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 1em;
  line-height: 3.7rem;
}

.subhead {
  margin-top: 0.5em;
  text-justify: inter-word;
  text-align: center;
  font-size: 1.4rem;
}

section.hero {
  color: #000000;
  height: 90vh;
  -webkit-animation: moveDown 1s ease-in-out forwards;
          animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}
section.hero .down-arrow {
  float: right;
  margin: 2em;
  stroke: #000000;
  position: absolute;
  bottom: 2em;
  width: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}
section.hero .down-arrow path {
  fill: #000000;
}

.popular-destinations .text-description {
  line-height: 2em;
  margin-bottom: 5em;
}
.popular-destinations img {
  border-radius: 1em;
  width: 16em;
  -o-object-fit: cover;
     object-fit: cover;
  height: 16em;
  margin: 1em;
}
.popular-destinations .row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}
.popular-destinations .column {
  justify-content: center;
  width: 18em;
  border: 0.3px solid #F4F4F4;
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  padding: 5px;
}
.popular-destinations .column:hover {
  box-shadow: 0 12px 16px rgba(216, 220, 240, 0.923);
}
.popular-destinations .title {
  margin-top: 3em;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.popular-destinations .nums {
  margin-left: 1em;
  display: flex;
}
.popular-destinations .popular {
  font-size: 400;
  font-style: italic;
}
.popular-destinations p.desc {
  font-size: larger;
  text-align: center;
  margin-top: 2em;
}
.popular-destinations .dest-names {
  font-weight: 400;
  margin-top: 0;
  margin-left: 1em;
}
.popular-destinations .line {
  vertical-align: middle;
  display: inline-block;
}
.popular-destinations .numbers {
  font-size: 1.5rem;
  margin: 0%;
  text-align: left;
}

.open-nav {
  transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }
}
@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    z-index: 11;
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: #1E4353;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
    color: #000000;
  }
  .signup button {
    color: aliceblue;
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    padding: 9px 25px;
    background-color: rgb(0, 136, 169);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .signup button:hover {
    background: rgb(0, 76, 95);
    color: rgb(255, 255, 255);
    transition: 0.3s linear;
  }
  .logo {
    cursor: pointer;
  }
  section.hero svg.down-arrow {
    stroke: #1E4353;
    position: unset;
  }
  section.hero svg.down-arrow path {
    fill: rgb(30, 67, 83);
  }
  .choose_bx {
    margin-top: 12em;
    margin-left: 7em;
    height: 2px;
  }
  .choose_bx .stay_bx {
    margin-top: 15em;
    margin-left: 6em;
    display: flex;
    align-items: center;
  }
  .choose_bx .stay_bx button {
    padding: 9px 25px;
    height: 6vh;
    color: white;
    display: flex;
    align-items: center;
    background-color: black;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .choose_bx .stay_bx button:hover {
    background: #ffffff;
    color: #000000;
  }
  .choose_bx .stay_bx button:nth-child(1) {
    border-radius: 10px 0px 0px 0px;
    background: #ffffff;
    color: #000000;
  }
  .choose_bx .stay_bx button:nth-last-child(1) {
    border-radius: 0px 10px 0px 0px;
  }
  .choose_bx .stay_bx button i {
    margin-right: 5px;
  }
  .choose_bx .container {
    width: 70%;
    height: 120px;
    background: #ffffff;
    border-radius: 0px 10px 10px 10px;
    position: relative;
    padding: 7px 20px;
    box-shadow: 0px 5px 15px -10px rgb(155, 152, 152);
    z-index: 2;
    margin-left: 6em;
  }
  .choose_bx .container .row {
    display: flex;
  }
  .choose_bx .container .col {
    padding: 2px;
    margin-top: 1.5em;
  }
  .choose_bx .container .col button {
    margin-right: 1em;
    margin-top: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    padding: 9px 25px;
    background-color: rgb(0, 136, 169);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .choose_bx .container .col button:hover {
    background: rgb(0, 76, 95);
    color: rgb(255, 255, 255);
    transition: 0.3s linear;
  }
  .choose_bx .container .col input {
    height: 4vh;
    border: none;
    font-size: 17px;
    border-radius: 7px;
    border-color: #cbc6c6;
    background-color: #f9f6f6;
    font-family: "Poppins", sans-serif;
  }
  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
  }
  .swiper-wrapper article {
    justify-content: center;
    width: 17em;
    border: 0.3px solid #F4F4F4;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    padding: 0.75rem 0.75rem 0.2rem;
    transition: 0.4s;
    padding: 5px;
  }
  .swiper-wrapper article:hover {
    box-shadow: 0 12px 16px rgba(216, 220, 240, 0.923);
  }
  .swiper-custom-nav {
    margin: 1em;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 10;
    width: 98%;
    display: flex;
    justify-content: space-between;
  }
  .swiper-custom-nav svg {
    cursor: pointer;
    opacity: 0.6s;
    transition: all 0.3s ease-in-out;
  }
  .swiper-custom-nav svg:hover {
    opacity: 0.7;
  }
  .swiper-custom-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
    color: #000000;
  }
  .swiper-custom-pagination .swiper-pagination-bullet {
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    text-align: center;
  }
  .swiper-custom-pagination .number {
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
  }
  .swiper-custom-pagination .swiper-pagination-bullet-active .number {
    width: 2rem;
    opacity: 1;
  }
  .swiper-custom-pagination .line {
    opacity: 0.3;
    height: 0.25rem;
    width: 0.75rem;
    background-color: #000000;
    display: block;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  .swiper-custom-pagination .swiper-pagination-bullet-active .line {
    width: 2rem;
    opacity: 1;
  }
  .swiper-button-next::after {
    content: "";
  }
  .swiper-button-prev::after {
    content: "";
  }
  .swiper-button-prev {
    left: calc(50% - 3rem);
  }
  .swiper-button-next {
    right: calc(50% - 3rem);
  }
  .description {
    line-height: 1em;
    margin-bottom: 5em;
  }
  .description h1.section__title {
    margin-top: 3em;
    font-size: 3rem;
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: center;
  }
  .description h1.section__title span.popular {
    font-style: italic;
  }
  .description .desc {
    text-align: center;
    font-size: 19px;
    font-family: "Poppins", sans-serif;
  }
  .popular__img {
    width: 15em;
    -o-object-fit: cover;
       object-fit: cover;
    height: 16em;
    margin: 1em;
    border-radius: 0.5em;
  }
  .popular__data {
    padding: 0 0.25rem 0 0.75rem;
  }
  .popular__price {
    font-size: larger;
    color: black;
    margin-bottom: 0.25rem;
  }
  .popular__price span {
    color: #56AAB7;
  }
  .popular__title {
    font-size: smaller;
    margin-bottom: 0.75rem;
  }
  .popular__description {
    color: #1a6671;
  }
  .gallery {
    padding-top: 8em;
    margin-left: 4em;
    margin-right: 2em;
  }
  .gallery .text_section {
    margin-bottom: 3em;
    padding: 0 10px;
    margin-left: 1em;
  }
  .gallery .text_section h1 {
    font-size: 35px;
  }
  .gallery .text_section h1 span {
    font-style: italic;
  }
  .gallery .text_section .row_2 {
    display: flex;
    justify-content: space-between;
  }
  .gallery .text_section .row_2 p {
    margin-top: 0.6em;
    font-size: 18px;
  }
  .gallery .view {
    right: 0;
    margin-right: 1.5em;
    margin-top: 0.7em;
  }
  .gallery .view a {
    font-size: 18px;
    color: aliceblue;
    padding: 7px 7px;
    background-color: rgb(120, 190, 207);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .gallery .view a:hover {
    background: rgb(0, 136, 169);
    color: rgb(255, 255, 255);
    transition: 0.3s linear;
  }
  .gallery .view a svg {
    stroke: #ffffff;
    width: 2.3em;
    margin-top: -0.6em;
    cursor: pointer;
  }
  .gallery .view a svg path {
    fill: #ffffff;
  }
  .gallery .image_section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 4em;
  }
  .gallery .image_section .box {
    position: relative;
    overflow: hidden;
    overflow: hidden;
    transition: 0.5s;
  }
  .gallery .image_section .box img {
    margin: 0.1em;
    display: block;
    border-radius: 0.7em;
    width: 18em;
    height: 21em;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .gallery .image_section .box:hover {
    z-index: 1;
    transform: scale(1.25);
  }
  .gallery .image_section .box:hover .imgBx::before {
    opacity: 1;
  }
  .gallery .image_section .box:hover .content_fade {
    opacity: 1;
  }
  .gallery .image_section .box:hover img.blur {
    filter: blur(2px);
  }
  .gallery .image_section .box:hover img.zoom {
    transform: scale(1.25);
  }
  .gallery .image_section .box .content_fade {
    opacity: 0;
    position: absolute;
    inset: 0;
    font-size: 1.1rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.4);
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .gallery .image_section .box .content_fade h3 {
    margin-top: 4em;
    color: black;
  }
  .gallery .image_section .box .content_fade p {
    font-weight: 500;
  }
  .gallery .image_section .box img,
  .gallery .image_section .box .content {
    transition: 200ms ease-in-out;
  }
  .container1 {
    max-width: 1170px;
    margin: auto;
    padding: 0;
  }
  .row1 {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #F5F5F5;
    padding: 70px 0;
  }
  .footer-col {
    width: 20%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #39859F;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #00202e;
    padding-left: 8px;
  }
  .socials {
    margin-left: 6em;
  }
  .social_media {
    display: flex;
  }
  .social_media .icon {
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .social_media .icon span {
    display: block;
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .social_media .icon span i {
    line-height: 50px;
    font-size: 25px;
  }
  .social_media .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .social_media .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .social_media .icon:hover span {
    color: #fff;
  }
  .social_media .icon:hover span,
  .social_media .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  }
  .social_media .facebook:hover span,
  .social_media .facebook:hover .tooltip,
  .social_media .facebook:hover .tooltip:before {
    background: #3B5999;
  }
  .social_media .twitter:hover span,
  .social_media .twitter:hover .tooltip,
  .social_media .twitter:hover .tooltip:before {
    background: #46C1F6;
  }
  .social_media .instagram:hover span,
  .social_media .instagram:hover .tooltip,
  .social_media .instagram:hover .tooltip:before {
    background: #e1306c;
  }
}
@-webkit-keyframes introload {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes introload {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */