body{
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
}
button{
    display: none;
}
.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/page1.png');
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introload 2s forwards;
    //overflow: hidden;
}
.logo{
    color: #39859F;
    font-weight: bold;
    
}


nav{
    
    position: fixed;
    right: 0;
    top:0;
    height: 100vh;
    background:#d3e5eb ;
    width: 50%;
    z-index: 2;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul{
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color:#00202e;
            padding: .75em 2em;
            display: block;
            width: 100%;
            &:hover{
                background: #c0d3d8;
            }
        }


    }
    .close{
        float: right;
        margin: 2em;
        width: 2em;

        stroke: #00202e;
        path{
            fill: #00202e;
        }
    }


}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

    svg{
        stroke: #39859F;
        path{
            fill: #39859F;
        }
        width: 2.3em;
        margin-top: -.6em;
        cursor: pointer;
    }

}
h1.hero{

    text-justify: inter-word;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 1em;
    line-height: 3.7rem;
}
.subhead{
    margin-top: 0.5em;
    text-justify: inter-word;
    text-align: center;
    font-size: 1.4rem;

}

section.hero{
    color: #000000;
    height: 90vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    .down-arrow{
        float: right;
        margin: 2em;
        stroke: #000000;
        position: absolute;
        bottom: 2em;
        width: 1em;
        animation: moveArrow 1s alternate-reverse infinite;
        path{
            fill:#000000;
        }

    }
    
}
.popular-destinations{
    .text-description{
        line-height: 2em;
    }
    img{
        border-radius: 1em;
        width: 16em;
        object-fit: cover;
        height: 16em;
        margin: 1em;
        

    }
    .row {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px 0;
    }
      
    .column {

        justify-content: center;
        width: 18em;
        border: 0.3px solid #F4F4F4;
        border-radius: 1em;
        background-color: rgb(255, 255, 255);
        transition: .4s;
        padding: 5px;

        
        &:hover{
            box-shadow: 0 12px 16px rgba(216, 220, 240, 0.923);
        }
        
    }
    
    .title{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }
    .nums{
        margin-left: 1em;
        display: flex;
    }
    
    .popular{
        font-size: 400;
        font-style: italic;
    }
    p.desc{
        font-size: larger;
        text-align: center;
        margin-top: 2em;
    }
    .dest-names{
        font-weight: 400;

        margin-top: 0;
        margin-left: 1em;
    }

   
    .line{
        vertical-align: middle;
        display: inline-block;    }
    
   
    .numbers{
        font-size: 1.5rem;
        margin: 0%;
        text-align: left;
    }

}
.open-nav {
    transform: translateX(0%);

}

@media only screen and(min-width: 680px)
{
    body{
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
    }
}
@media only screen and(min-width: 920px)
{
    .menu 
    {
        display: none;
    }
    nav{
        transform: translateX(0);
        position: unset;

        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close{
            display: none;
        }
        ul{
            display: flex;
            margin: 0;
            a{
                color:#1E4353;
                padding: .5em 1.5em ;
                font-size: .9rem;

                &:hover{
                    background: none;
                    text-decoration: underline;
                    color: #00202e;
                }

            }
        }

    }
        
  
    .signup{
        button{
            color: aliceblue;
            font-weight: bolder;
            text-transform: uppercase;
            display: flex;
            padding: 9px 25px;
            background-color: rgba(0, 136, 169, 1);
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            &hover{
                background-color: rgba(0, 136, 169, 0.8);
    
    
            }
            
        }

    }
   
    .logo{
        cursor: pointer;
    }
    section.hero{

        svg.down-arrow{

            stroke: #1E4353;
            position: unset;

            path{
                fill:rgb(30, 67, 83);


            }

           

        }
    }
    .choose_bx{
        margin-top: 12em;
        margin-left: 7em;
     
        
        width: 80%;
        height: auto;
        //border: 1px solid black;
        .stay_bx{
            
            display: flex;
            align-items: center;
            
            button{
                padding: 9px 25px;
                height: 6vh;
    
                color:white;
                display: flex;
                align-items: center;
    
              
                background-color:black;
                border: none;
                outline: none;
                font-family:"Poppins", sans-serif;
                
                cursor: pointer;
                transition: .3s linear;
                &:hover{
                    background:#ffffff;
                    color:#000000;
                }
                &:nth-child(1){
                    border-radius: 10px 0px 0px 0px;
                    background:#ffffff;
                    color: #000000;
    
    
                }
                &:nth-last-child(1){
                    border-radius: 0px 10px 0px 0px;
                
                }
                i{
                    margin-right: 5px;
                }
            }
           
        }
        .select{
            width: 100%;
            height: 135px;
            background: white;
            border-radius: 0px 10px 10px 10px;
            position: relative;
            padding: 10px 20px;
            box-shadow: 0px 5px 15px -10px rgb(214,214,214);
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .card{
                width: 24%;
                height: 80%;
                border: 2px solid rgba(242, 239, 239, 0.7);
                border-radius: 10px;
                padding: 10px 0px 10px 30px;
                
                :nth-last-child(1){
                    width: 46%;
                }
                h5{
                    font-size: 16px;
                    font-weight: 500;
                }
                input{
                    border: none;
                    outline: none;
                    margin-top: 5px;
                    font-size: 15px;
                    font-weight: 700;
                    background: none;
                    font-family: 'Poppins', sans-serif;

                }
            
            


            }

        }
       
    }
    .select{
        width: 90%;
        height: 200px;
        background:#e4f0f3;
        border-radius:  0px 10px 10px 10px;
        position: relative;
        padding: 10px 20px;
        box-shadow: 0px 5px 15px -10px  rgb(214, 214, 214);
        z-index: 2;
        align-items: center;
        display: flex;
        justify-content: space-between;
    
        .card{
            
            width: 23%;
            height: 17vh;
            border: 2px solid;
            border-color: #c0d3d8;
            border-radius: 10px;
            
        
            padding: 10px 0px 10px 30px;
    
            &:nth-last-child(1){
                width: 40%;
                

            }
            h5{
                font-size: 16px;
                font-weight: 500;

            }
            input{
                border: none;
                outline: none;
                margin-top: 0px;
                font-size: 20px;
                font-weight: 700;
                background: none;
                font-family: "Poppins", sans-serif;
            }
            button{
                padding: 5px 30px;
                width: 6em;
                height: 3vh;
                text-align: center;
    
                color:#00202e;
                display:inline-flex;
                align-items: center;
            }
        }

      
      
    }

    .swiper-wrapper{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px 0;
        article{

            justify-content: center;
            width: 17em;
            border: 0.3px solid #F4F4F4;
            border-radius: 1em;
            background-color: rgb(255, 255, 255);
            padding: .75rem .75rem .2rem;
            transition: .4s;
            padding: 5px;
    
            
            &:hover{
                box-shadow: 0 12px 16px rgba(216, 220, 240, 0.923);
            }
            
            
            
        }

        
    }
  
    h1.section__title{
        font-size: 3rem;
        padding-top: 1em;
        padding-bottom: 0.5em;
        text-align: center;


        span.popular{
            font-style: italic;
        }
    }
   
    .popular__img{
        width: 13em;
        object-fit: cover;
        height: 16em;
        margin: 1em;
        border-radius: 1em;

    }
    .popular__data{
        padding: 0 .25rem 0 .75rem;
    }
    .popular__price{
        font-size: larger;
        color: black;
        margin-bottom: .25rem;
    }
    .popular__price span{
        color:#56AAB7;
    }
    .popular__title{
        font-size: smaller;
        margin-bottom: .75rem;
    }
    .popular__description{
        color: #1a6671;
    }

      //gallery_section
    .gallery{
        padding-top: 8em;
        margin-left: 4em;
        margin-right: 2em;
        .text_section{

            margin-bottom: 3em;
            padding: 0 10px;
            margin-left: 1em;
            h1{
                font-size: 35px;
                span{
                    font-style: italic;
                }
            }
            .row_2{
                display: flex;
                justify-content: space-between;
                p{
                    margin-top: .6em;
                    font-size: 18px;
                }
                
            }
           
        }
        .view{
            right: 0;
            margin-right: 1.5em;

            margin-top: 0.7em;
            a{
                font-size: 18px;
                color: aliceblue;
                padding: 7px 7px;
                background-color: rgb(120, 190, 207);
                border: none;
                border-radius: 50px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                &:hover{
                    background:rgba(0, 136, 169, 1);
                    color:rgb(255, 255, 255);
                    transition: .3s linear;
                }
                svg{
                   
                    stroke: #ffffff;
                    path{
                        fill: #ffffff;
                    }
                    width: 2.3em;
                    margin-top: -.6em;
                    cursor: pointer;
                }
          
            }
        }
        .image_section{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10em;
            margin-left: 1.5em;
            margin-right: 1.5em;
            margin-top: 4em;

            .box{
               position: relative;
               overflow:hidden;
                img{
                    margin: .1em;
                    display: block;
                    border-radius: 0.7em;
                    width: 18em;
                    height: 21em;
                    object-fit: cover;
                    object-position: center;
                    
                    
                }
                overflow: hidden;
                transition: 0.5s;
                &:hover{
                    
                    z-index: 1;
                    transform: scale(1.25);
                    .imgBx::before{
                        opacity: 1;
                    }
                    
                    .content_fade{
                        opacity:1;

                    }
                    img.blur{
                        filter: blur(2px);

                    }
                    img.zoom{
                        transform: scale(1.25);
                    }
                    

                }
                .content_fade{
                    opacity: 0;
                    position: absolute;
                    inset: 0;
                    font-size: 1.1rem;
                    padding: 2rem;
                    background: rgba(255, 255, 255, 0.4);
                    display: block;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    h3{
                        margin-top: 4em;
                        color: black;
                        
                    }
                    p{
                        font-weight: 500;
                    }

                }
                img,
                .content{
                    transition: 200ms ease-in-out;
                }


            

            }
              
              
                
            

            
            
            
        }
       
        
    }
    .container1{
        max-width: 1170px;
        margin:auto;
	    padding:0;
    }
    .row1{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: #F5F5F5;
        padding: 70px 0;
    }
    .footer-col{
       width: 20%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #000000;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #39859F;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #00202e;
        padding-left: 8px;
    }
    .socials{
        margin-left: 6em;
    }
    .social_media{
        display: flex;
    }
    .social_media .icon{
        margin: 0 10px;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .social_media .icon span{
        display: block;
        height: 50px;
        width: 50px;
        background: #fff;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .social_media .icon span i{
        line-height: 50px;
        font-size: 25px;
      }
      .social_media .icon .tooltip{
        position: absolute;
        top: 0;
        z-index: 1;
        background: #fff;
        color: #fff;
        padding: 10px 18px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 25px;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .social_media .icon:hover .tooltip{
        top: -70px;
        opacity: 1;
        pointer-events: auto;
      }
      .icon .tooltip:before{
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        background: #fff;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%) rotate(45deg);
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .social_media .icon:hover span{
        color: #fff;
      }
      .social_media .icon:hover span,
      .social_media .icon:hover .tooltip{
        text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
      }
      .social_media .facebook:hover span,
      .social_media .facebook:hover .tooltip,
      .social_media .facebook:hover .tooltip:before{
        background: #3B5999;
      }
      .social_media .twitter:hover span,
      .social_media .twitter:hover .tooltip,
      .social_media .twitter:hover .tooltip:before{
        background: #46C1F6;
      }
      .social_media .instagram:hover span,
      .social_media .instagram:hover .tooltip,
      .social_media .instagram:hover .tooltip:before{
        background: #e1306c;
      }
      
   

  
}

@keyframes introload {

    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@keyframes moveArrow {

    from {
        transform: translateY(-30px);

    }
    to{
        transform: translateY(0);

    }
}
@keyframes moveDown {

    from {
        transform: translateY(-100px);

    }
    to{
        transform: translateY(0);
        opacity: 1;

    }
}


