/*products*/
body{
    background-color: #E8E8E8;
  
}
.row{
    position: relative;
    width: 1200px;
    display:grid ;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ;
}
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}
hr{
    width: 30px;
    height: 2px;
    background-color:#56B0BE;
}
.star{
    padding: 10px 0;
}
.star i {
    font-size: 0.8rem;
    color: #56B0BE;
}
.product{
    width: 50%;
    min-width: 50px;
    padding: 20px 10px;
    border:1px hidden;
    border-radius: 2px;
    box-shadow: 20px 10px 20px rgba(0,0,0, 0.02);
    margin: 10px 0 ;
    transition: 0.2s;
}
.product:hover{
    box-shadow: 20px 10px 20px rgba(0,0,0, 0.06);
  

}

.product img{
    position: relative;
    width:287px;
    height: 280px;
    display: flex;
    box-sizing:border-box;
    object-fit:cover;

}
#featured > div.row.mx-auto.container > nav > ul > li.page-item.active > a{
    background-color: #56B0BE;
}
#featured > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
    background-color: #797979;
    color: #fff;
}
.pagination a{
    position: relative;
    text-align: center;

    color: #797979;
}

.p-name{
    font-size: 20px;
    text-align: center;
    color: black;
    margin: auto;
    position: sticky;
    align-items: center;
}
.p-price{
  
    font-size: 18px;
    font-weight: bold;
    text-align:left;
    color: #797979;
    margin: 20px;
    position:sticky;
    align-items: baseline;
    transform:translate(-5%,50%);

}
.p-location{
    font-size: 20px;
    font-weight:bold ;
    color: #56B0BE;
    margin: auto;
}
h5{
    font-size: 22px;
    text-align: center;
    color: #56B0BE;
}

.fa-sharp {
    text-align:left;
    font-size: 20px;
    margin:0%;
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    position:static;
    transform: translate(-30%,120%);

}
@media(max-width:1000px){
    .content{
        width:30%;
    }
}
@media(max-width:750px){
    .content{
        width:100%;
    }
}
@media(max-width:500px){
    .content{
        width:60%;
    }
}