body{
    margin:0;
    font-family: sans-serif;
    background-color:white ;
}
h3{
    text-align:left;
    font-size: 15px;
    margin: 10px;;
    padding-top: 10px;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
}
.logo{
    color: #39859F;
    font-weight: bold;
    
}
.bx{
    color: #797979;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0,0, 0.25),0 10px rgba(0, 0,0, 0.22);
    transition: .5s;
    background-color: #f2f2f2;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0, 0.16),0 3px 6px rgba(0,0,0,0.23);
    transition:translate(0px , -8px);
}
img{
    width: 280px;
    height: 279px;
    text-align:center;
    margin: 10px;
    display:flex;
}
p{
    text-align: center;
    color: #56B0BE;
    padding-top: 0 8px;
}
h5{
    font-size:17px;
    text-align:center;
    color:#56B0BE;
    margin:30px ;
}
h6{
    font-size: 15px;
    text-align: left;
    color: #797979;
    margin: 15px;
}

ul{
    list-style: none;
    display:flex;
    justify-content:right;
    align-items: center;
    padding-top: 1px;
    color:#797979 ;
}
li{
    padding: 5px;
    text-align:right;
}
.fa{
    font-size: 18px;
    transition: .4s;
   
}
.checked{
    color:#56B0BE;
}
.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
button{
    display: none;
}

.Select{
    background-color:lightgray;

}

@media(max-width:1000px){
    .content{
        width:30%;
    }
}
@media(max-width:750px){
    .content{
        width:100%;
    }
}
@media(max-width:500px){
    .content{
        width:60%;
    }
}